name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get install git-crypt
    - name: Show versions
      run: bin/trk version
    - name: Run test
      run: make test
